@import "wireframe-series-3-about/src/style.css";

.section {
  padding-top: 0;

  &__inner {
    max-width: 100%;

    @media (min-width: 992px) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.article {
  &__content {

    @media (min-width: 992px) {
      max-width: 735px;
    }
  }

  &__picture {
    margin-bottom: 25px;
    padding-top: 33%;

    @media (min-width: 768px) {
      margin-bottom: 40px;
      padding-top: 28%;
    }
    
    @media (min-width: 992px) {
      margin-left: 0;
      margin-right: 0;
      padding-top: 24.8%;
    }
  }

  &__title {
    margin-bottom: 15px;
    letter-spacing: -1px;

    @media (min-width: 992px) {
      margin-bottom: 25px;
    }
  }
  
  &__heading {
    letter-spacing: -0.5px;

    @media (min-width: 992px) {
      margin-bottom: 20px;
    }
  }

  &__subheading {
    
    @media (min-width: 992px) {
      margin-bottom: 20px;
    }
  }

  &__text {
    letter-spacing: -0.3px;
  }
}

.button {
  margin-left: 7px;
  margin-right: 7px;
}