@import "wireframe-lucario-cover/src/style.css";

/* start here */
.section {

  @media (min-width: 1200px) {
    padding-top: 270px;
    padding-bottom: 155px;
  }
}

.item__title {
  line-height: calc(var(--ui-hero-title-line-height) * 1.3);
  letter-spacing: 0.02em;
}

.items-wrapper {
  svg {
    display: none;
  }

  :global {

    /* styles for default arrows */
    .slick-arrow-default {
      width: 60px;
      height: 60px;
      border-width: 2px;
      border-color: var(--ui-light-accent-color);
      border-style: solid;
      font-size: 14px;
    }

    .slick-prev-default,
    .slick-next-default {
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 2px;
        bottom: 50%;
        left: 50%;
        transform: translate(-125%, -50%);
        background-color: var(--ui-dark-shade-color);
      }

      &::after {
        content: "prev";
        display: block;
        top: 50%;
        right: -50%;
        transform: translate(50%, 0);
        color: var(--ui-link-color);
        letter-spacing: 0.2em;
        font-size: var(--ui-small-size);
        font-weight: var(--ui-heading-font-weight);
        text-transform: uppercase;
      }
    }

    .slick-prev-default {
      top: 39%;
      left: 0;
    }

    .slick-next-default {
      top: 39%;
      right: 0;

      &::before {
        left: 50%;
        transform: translate(25%, -50%);
      }

      &::after {
        content: "next";
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}

.main-area {
  margin-top: 0;
}
