@import "wireframe-zapdos-contacts/src/style.css";

/* start here */

.top-icon {
  display: flex;
  position: relative;
  margin: 0 auto 30px;
  width: 60px;
  height: 60px;
  padding: 20px;
  color: var(--ui-brand-color);

  > svg {
    max-width: 100%;
    max-height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--ui-dark-accent-color);
    opacity: 0.05;
  }
}

.title {
  margin-bottom: 24px;
}

.map-wrapper {
  width: 670px;
  height: 410px;
}

.contacts {
  width: 280px;
  padding-left: 60px;
  padding-top: 34px;
  display: block;

  &__title {
    font-size: var(--ui-subheading-size);

    &::first-child {
      padding-top: 34px;
    }
  }

  &__desc {
    font-size: var(--ui-text-size);
  }

  &__list {
    margin-bottom: 25px;
  }
}

.contacts-list {
  margin-bottom: 20px;

  &__item:nth-child(1) {
    margin-bottom: 19px;
  }

  &__item:nth-child(2) {
    margin-bottom: 25px;
  }

  &__item:nth-child(3) {
    margin-bottom: 0;
  }
}

.socials {
  margin-top: 0;
  margin-left: -18px;

  li {
    margin-right: 12px;
  }
}
