@import "wireframe-series-2-awards/src/style.css";

.section {
  &__header {

    @media (min-width: 1200px) {
      margin-left: 20px;
      margin-right: 0;
    }
  }

}

.title {

  @media (min-width: 992px) {
    margin-top: 15px;
    text-align: left;
  }
}

.subtitle {
  font-size: var(--ui-subheading-size);
  line-height: var(--ui-subheading-line-height);

  @media (min-width: 992px) {
    margin-top: 30px;
    text-align: left;
  }
}

.items-wrapper {

  @media (min-width: 1200px) {
    margin: 0;
    margin-top: 90px;
    margin-left: -20px;
  }
}

.item {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 480px) {
    width: 200px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: 1200px) {
    width: 170px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 65px;
    padding-right: 65px;
  }

  &__picture {
    position: relative;
    padding-top: 100%;
    border-radius: 10px;
    background-color: var(--ui-light-shade-color);
    overflow: visible;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      top: -15px;
      left: -15px;
      border-radius: 50px;
      background-color: var(--ui-light-shade-color);
      opacity: 0.3;
      z-index: 0;
    }
  }

  &__image {
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    background-color: transparent;
  }

  &__title {
    margin-top: 40px;
    white-space: pre-wrap;

    @media (min-width: 480px) {
      min-width: 200px;
      margin-left: -15px;
      margin-right: -15px;
      text-align: left;
    }

    @media (min-width: 1200px) {
      font-size: var(--ui-heading-size);
      letter-spacing: -0.3px;
    }
  }
}
