@import "wireframe-zapdos-awards/src/style.css";

/* start here */
.title {
  position: relative;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 5px;
    bottom: -5px;
    left: 0;
    transform: skewX(-25deg);
    background: linear-gradient(
      to right,
      var(--ui-light-accent-color) 0%,
      var(--ui-light-accent-color) 60%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0) 70%,
      var(--ui-light-accent-color) 70%,
      var(--ui-light-accent-color) 80%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0) 90%,
      var(--ui-light-accent-color) 90%,
      var(--ui-light-accent-color) 100%
    );
  }
}

.items-wrapper {
  margin-top: 45px;
}

.item {
  &__image {
    position: relative;
    object-fit: contain;
    padding-top: 73%;
    background-size: contain;

    @media (min-width: 992px) {
      width: 100%;
      height: auto;
    }
  }

  &__picture {
    background-color: transparent;
    padding-top: 0;
  }

  @media (min-width: 450px) {
    max-width: 50%;
    flex-basis: 50%;
  }

  @media (min-width: 768px) {
    max-width: 33.333%;
    flex-basis: 33.333%;
  }

  @media (min-width: 992px) {
    max-width: 16.666%;
    flex-basis: 16.666%;
  }
}

