.section {
  text-align: center;
  min-width: 320px;
  padding: 30px 0;

  /* background-color: var(--ui-block-bg); */
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  font-family: var(--ui-text-font-family);
  word-wrap: break-word;

  &__inner {
    display: flex;
  }
}

.visuallyHidden {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.column {
  flex: 1;
  padding: 20px;
}

.item {
  margin-bottom: 20px;
}

.heroTitle {
  font-size: var(--ui-hero-title-size);
  color: var(--ui-hero-title-color );
  line-height: var(--ui-hero-title-line-height );
  font-family: var(--ui-hero-title-font-family );
  font-weight: var(--ui-hero-title-font-weight);
}
.blockTitle {
  font-size: var(--ui-block-title-size);
  color: var(--ui-block-title-color );
  line-height: var(--ui-block-title-line-height );
  font-family: var(--ui-block-title-font-family );
  font-weight: var(--ui-block-title-font-weight);
}
.subTitle {
  font-size: var(--ui-subtitle-size);
  color: var(--ui-subtitle-color );
  line-height: var(--ui-subtitle-line-height );
  font-family: var(--ui-subtitle-font-family );
  font-weight: var(--ui-subtitle-font-weight);
}
.headingLg {
  font-size: var(--ui-heading-lg-size);
  color: var(--ui-heading-lg-color);
  line-height: var(--ui-heading-lg-line-height);
  font-family: var(--ui-heading-lg-font-family);
  font-weight: var(--ui-heading-lg-font-weight);
}
.heading {
  font-size: var(--ui-heading-size);
  color: var(--ui-heading-color );
  line-height: var(--ui-heading-line-height );
  font-family: var(--ui-heading-font-family );
  font-weight: var(--ui-heading-font-weight);
}
.subHeading {
  font-size: var(--ui-subheading-size);
  color: var(--ui-subheading-color );
  line-height: var(--ui-subheading-line-height );
  font-family: var(--ui-subheading-font-family );
  font-weight: var(--ui-subheading-font-weight);
}
.text {
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-text-font-weight);
}
.smallText {
  font-size: var(--ui-small-size);
  color: var(--ui-small-color);
  line-height: var(--ui-small-line-height);
  font-family: var(--ui-small-font-family);
  font-weight: var(--ui-small-font-weight);
}
.quote {
  font-size: var(--ui-quote-size);
  color: var(--ui-quote-color);
  line-height: var(--ui-quote-line-height);
  font-family: var(--ui-quote-font-family);
  font-weight: var(--ui-quote-font-weight);
}
.caption {
  font-size: var(--ui-caption-size);
  color: var(--ui-caption-color);
  line-height: var(--ui-caption-line-height);
  font-family: var(--ui-caption-font-family);
  font-weight: var(--ui-caption-font-weight);
}

.link {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  text-align: center;
  color: var(--ui-link-color);
  word-wrap: break-word;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--ui-link-hover-color);
}

.form {
  padding: 0 20px 50px;
}

@media (min-width: 480px) {
  .form {
    padding: 0 16.3636% 9.0909%;
  }
}

.form__item {
  display: block;
  margin-bottom: 20px;
  text-align: left;
}

.form__field {
  display: block;
  width: 100%;
  height: 46px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  text-overflow: ellipsis;
  background-color: rgba(103, 103, 103, .2);
}

@media (min-width: 992px) {
  .form__field {
    margin-top: 10px;
  }
}

.form__button {
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .form__button {
    margin-top: 15px;
  }
}

.icon {
  display: inline-block;
  width: 60px;
  height: 60px;
}
