@import "wireframe-zapdos-footer/src/style.css";

/* start here */

.footer {
  &__main {
    display: flex;
    justify-content: flex-start;
  }

  &__bottom {
    border-top: 0;
    margin-top: 0;
    padding-bottom: 17px;
  }

  &__meta {
    font-size: var(--ui-text-size);
  }
}

.logo {
  a {
    text-decoration: none;
  }

  &__title {
    margin-right: 71px;
    font-size: calc(var(--ui-sub-heading-size) * 2);
    color: var(--ui-light-shade-color);
  }
}

.nav {
  align-items: flex-end;

  &-list {
    &__link {
      color: var(--ui-light-shade-color);
      opacity: 0.6;
      transition: opacity 0.2s ease-in, color 0.2s ease-in;
      font-size: var(--ui-text-size);

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 992px) {
  .footer__main {
    display: block;
  }

  .logo__title {
    margin-right: 0;
  }
}
