@import "wireframe-zapdos-about/src/style.css";

/* start here */
.section {

  @media (min-width: 768px) {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  &__inner {

    @media (min-width: 768px) {
      max-width: 100%;
      padding-left: 0;
    }
  }
}

.article {
  position: relative;

  &__picture {

    @media (min-width: 992px) {
      padding-top: 101%;
    }
  }

  &__title {
    text-transform: uppercase;

    @media (min-width: 768px) {
      text-align: center;
      margin-bottom: 68px;
    }
  }

  &__content {

    @media (min-width: 992px) {
      padding-left: 50px;
      padding-bottom: 10px;
    }
  }

  &__text {

    @media (min-width: 768px) {
      max-width: 420px;
    }

    @media (min-width: 992px) {
      line-height: calc(var(--ui-text-line-height) * 1.03);
    }
  }
}
