@import "wireframe-zapdos-process/src/style.css";

/* start here */
.section {

  @media (min-width: 992px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.article {

  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 36px;
  }

  &__content {
    padding-left: 82px;

    &::before {
      height: 66px;
      min-width: 66px;
      background-color: var(--ui-brand-color);
      color: var(--ui-light-shade-color);
      font-size: var(--ui-heading-size);
    }
  }

  &__title {
    margin-bottom: 5px;
  }
}

&__text {

  @media (min-width: 992px) {
    max-width: 270px;
  }
}

.article__content--icon-none {
  padding-left: 0;
}
