@import "wireframe-zapdos-cta/src/style.css";

.section {
  position: relative;

  &__picture-wrapper {
    position: relative;
    width: 100%;
  }

  &__picture {
    min-height: 350px;
    padding-top: 44%;
    background-color: transparent;
    box-shadow: 0 15px 15px 0 #c5c5c5;

    @media (min-width: 768px) {
      box-shadow: 0 30px 30px 0 #c5c5c5;
    }

    @media (min-width: 992px) {
      box-shadow: 0 50px 50px 0 #c5c5c5;
    }
  }

  &__image {
    object-fit: contain;
  }
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  letter-spacing: -2px;

  &::before {

    @media (min-width: 480px) {
      content: "";
      position: absolute;
      width: 270px;
      height: 1px;
      top: 130%;
      left: calc(50% - 135px);
      background-color: #e6e6e6;
      opacity: 0.2;
    }
  }

  &::after {

    @media (min-width: 480px) {
      content: "";
      position: absolute;
      width: 60px;
      height: 4px;
      top: 116%;
      left: calc(50% - 30px);
      background-color: var(--ui-brand-color);
    }

    @media (min-width: 480px) {
      top: 122%;
    }
  }
}

.button {
  position: absolute;
  width: auto;
  top: 57%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  @media (min-width: 480px) {
    top: 54%;
  }
}
