@import "wireframe-zapdos-blog/src/style.css";

/* start here */
.title {
  margin-bottom: 50px;
}

.article {
  display: flex;
  justify-content: flex-start;

  &__title {
    order: 2;
    font-family: var(--ui-subheading-font-family);
    font-weight: var(--ui-subheading-font-weight);
    letter-spacing: -1px;
  }

  &__meta {
    order: 3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    opacity: 0.6;
  }

  &__picture {
    overflow: hidden;
    border-radius: 25px;
    padding-top: 84%;

    &-wrapper {
      order: 1;
      margin-bottom: 35px;
    }
  }

  &___category {
    padding-right: 0;
    padding-left: 7px;
    color: var(--ui-dark-shade-color);
  }

  &__text {
    order: 4;
    margin-bottom: 40px;
  }

  &__link {
    order: 5;
    text-align: left;
  }
}

.article__date {
  padding-left: 0;
  padding-right: 7px;
}

.article__category + .article__date::after {
  display: none;
}
