.section {
  text-align: center;
  min-width: 320px;
  padding: 30px 0;

  /* background-color: var(--ui-block-bg); */
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  font-family: var(--ui-text-font-family);
  word-wrap: break-word;

  &__inner {
    display: flex;
  }
}

.visuallyHidden {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.column {
  flex: 1;
  padding: 20px;
}

.dark {
  background-color: var(--ui-dark-shade-color);
}

.item {
  margin-bottom: 20px;
}

.title {
  width: 100%;
  margin-bottom: 10px;
  font-family: var(--ui-block-title-font-family);
  font-size: var(--ui-block-title-size);
  font-weight: var(--ui-block-title-font-weight);
  line-height: var(--ui-block-title-line-height);
  color: var(--ui-block-title-color);
  text-align: left;
}

.subtitle {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: var(--ui-subtitle-font-family);
  font-size: var(--ui-subtitle-size);
  font-weight: var(--ui-subtitle-font-weight);
  line-height: var(--ui-subtitle-line-height);
  color: var(--ui-subtitle-color);
}

.link {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  text-align: center;
  color: var(--ui-link-color);
  word-wrap: break-word;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--ui-link-hover-color);
}
