@import "wireframe-series-2-pricing/src/style.css";

/* start here */

.section {

  @media (min-width: 992px) {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  &__header {
    margin-bottom: 51px;
  }
}

.title {
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.subtitle {
  padding-left: 0;
  text-align: center;

  @media (min-width: 768px) {
    position: relative;
    padding-left: 100px;
    margin-right: 0;
    text-align: left;
    margin-left: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 70px;
      height: 4px;
      top: 12px;
      left: 0;
      background-color: var(--ui-dark-shade-color);
    }
  }
}

.item {
  margin-left: 0;
  margin-right: 0;

  &__container {
    background-color: transparent;
    transition: border-color 0.2s ease-in;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: 768px) {
      border-width: 8px;
      border-style: solid;
      border-color: #f1f2f5;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &:hover {
      border-color: #dadbdd;
    }
  }

  &__title {
    margin-bottom: 22px;
  }

  &__icon {
    margin-bottom: 23px;
  }

  &__price {
    margin-bottom: 17px;
  }

  &__desc {
    margin-bottom: 32px;
  }
}

.btns-group {
  padding-top: 20px;

  @media (min-width: 768px) {
    padding-top: 40px;
  }
}
