@import "wireframe-zapdos-about/src/style.css";

/* start here */

.article {
  max-width: 1060px;
  margin: 0 auto;

  &__picture {
    padding-top: 0;
    min-height: 0;
    background: transparent;
    width: 80%;

    @media (min-width: 768px) {
      width: 39%;
    }
  }

  &__content {

    @media (min-width: 768px) {
      flex-basis: 56%;
      max-width: 56%;
      padding-left: 0;
      justify-content: flex-start;
    }
  }

  &__title {
    font-weight: 700;
    font-family: var(--ui-block-title-font-family);
    font-size: var(--ui-block-title-size);
    text-align: center;
    margin-bottom: 55px;
  }

  &__text {
    font-weight: 300;
    font-family: var(--ui-text-font-family);
    font-size: var(--ui-text-size );
    line-height: var(--ui-text-line-height);
  }
}

.article__picture img {
  position: static;
}

