@import "wireframe-zapdos-about/src/style.css";

/* start here */

.article {
  max-width: 1060px;
  margin: 0 auto;

  &__picture-wrapper {

    @media (min-width: 768px) {
      max-width: 44%;
      flex-basis: 44%;
    }
  }

  &__picture {
    padding-top: 0;
    min-height: 0;
    background: transparent;
    width: 80%;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 90%;
      margin: 0;
    }

    img {
      border-radius: 25px;
      position: static;
      background: none;
      height: auto;
    }
  }

  &__content {

    @media (min-width: 768px) {
      flex-basis: 56%;
      max-width: 56%;
      padding-left: 0;
      justify-content: flex-start;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 55px;
  }
}

